.player-container {
    display: flex;
    align-items: center;
    justify-content: center;
      max-width: 100%;
      width: 100%;
      height: 100%;
  }
  
  .plyr {
    /* max-width: 290px; */
    /* max-width: 325px; */
    /* max-width: 100%; */
    min-width: 200px;
    /* margin-right: 12px; */
    /* padding-right: 12px; */
  }
  
  .plyr__tooltip {
    display: none;
  }
  
  .plyr__controls {
    display: inline-flex;
      justify-content: flex-start;
  }
  
  .plyr--audio .plyr__controls {
      color: #fff;
      background: transparent;
  }
  
  .plyr__controls .plyr__controls__item:first-child {
      margin-left: 0;
          margin-right: 0;
  }
  
  .plyr__controls .plyr__controls__item {
      margin: 0;
  }
  
  .plyr__progress input[type=range] {
    max-width: 50px;
  }
  
  .plyr__volume {
    min-width: 0px;
  }
  
  .plyr__volume input[type=range] {
    max-width: 40px;
  }
  
  /* Title */
  .song-title {
    color: rgba(255,255,255,.60);
    font-style: italic;
    font-size: 0.9rem;
  }