*,
*:before,
*:after {
		-webkit-transition: all 0.3s;
		transition: all 0.3s;
		box-sizing: border-box;
}

/*==============================================================================
 The burger icon with it's animation. Uses the checked property of a checkbox
 in order to make the animation happen as well as control the next elements
 I've used classes because of the + css selector, which will only ever animate
 the next label element. Does not work on IE8 or below and opera mini since
 they don't support the :checked selector.
==============================================================================*/
.burger-check {
	display: none;
}

/*--------------------------------------
 Sets the actionable area for the burger
 including a label for usability
--------------------------------------*/
.burger {
		position: relative;
		/* float: left; */
		/* margin-left: 10px; */
		width: 28px;
		height: 28px;
		cursor: pointer;
}

/*--------------------------------------
 Creates the look of the burger icon
 using the inner span and pseudo-elements
--------------------------------------*/
.burger span,
.burger span:before,
.burger span:after {
	position: absolute;
	left: 0px;
	top: 14px;
	width: 30px;
	height: 4px;
	background: rgb(131, 131, 131);
	border-radius: 0.2em;
}

/* Reset the left and create the pseudo-element */
.burger span:before,
.burger span:after {
		content: '';
		left: 0;
}

/* Top bar position */
.burger span:before {
		top: -9px;
}

/* Bottom bar position */
.burger span:after {
		top: 9px;
}

/* Get rid of more on action (IE9 or higher) */
.burger-check:checked + .burger:after {
		content: '';
}
/* Get rid of the middle bar on action (IE9 or higher) */

.burger-check:checked + .burger span {
		height: 0;
		width: 0;
}

/* Moves the top and bottom bars to the middle on action (IE9 or higher) */
.burger-check:checked + .burger span:before,
.burger-check:checked + .burger span:after {
		top: 1px;
}

/* Rotates the top bar on action with full browser support (IE9 or higher) */
.burger-check:checked + .burger span:before {
		-webkit-transform: rotate(225deg);
		-ms-transform: rotate(225deg);
		transform: rotate(225deg);
}

/* Rotates the bottom bar on action with full browser support (IE9 or higher) */
.burger-check:checked + .burger span:after {
		-webkit-transform: rotate(-225deg);
		-ms-transform: rotate(225deg);
		transform: rotate(-225deg);
}


/* Animate height of 'a' element in order to reveal the menu on check (IE9 or higher)
#main-nav:checked ~ ul a {
		height: 50px;
} */